:root {
  --h1-jazzberry: #AC145A;  /* rgb(172, 20, 90) */
  --h2-tomato: #FF585D;  /* rgb(255, 88, 93) */
  --h3-royal-orange: #F19C49;  /* rgb(241, 156, 73) */
  --h4-corn: #F3EA5D;  /* rgb(243, 234, 93) */
  --h5-lime: #C5E86C;  /* rgb(197, 232, 108) */
  --h6-seagreen: #00B2A2;  /* rgb(0, 178, 162) */
  --h7-bondi-blue: #007F98;  /* rgb(0, 127, 152) */
  --h8-denim: #326295;  /* rgb(50, 98, 149) */
  --h9-twilight: #514689;  /* rgb(81, 70, 137) */
  --h10-valentine-pink: #E56DB1;  /* rgb(229, 109, 177) */
  --s1-mulberry: #651C32;  /* rgb(101, 28, 50) */
  --s2-espresso: #551C25;  /* rgb(85, 28, 37) */
  --s3-dark-leather: #4F2C1D;  /* rgb(79, 44, 29) */
  --s4-dark-gold: #8A6400;  /* rgb(138, 100, 0) */
  --s5-zucchini: #1C4220;  /* rgb(28, 66, 32) */
  --s6-sherwood: #024638;  /* rgb(2, 70, 56) */
  --s7-cyprus: #003540;  /* rgb(0, 53, 64) */
  --s8-night: #041E42;  /* rgb(4, 30, 66) */
  --s9-dark-indigo: #201547;  /* rgb(32, 21, 71) */
  --s10-plum: #621244;  /* rgb(98, 18, 68) */
  --t1-piggy-pink: #EEDAEA;  /* rgb(238, 218, 234) */
  --t2-soft-blush: #F5DADF;  /* rgb(245, 218, 223) */
  --t3-apricot: #FFDFB4;  /* rgb(255, 223, 180) */
  --t4-buttermilk: #F7F4A2;  /* rgb(247, 244, 162) */
  --t5-lime-cream: #E8F6C4;  /* rgb(232, 246, 196) */
  --t6-swans-down: #D7EFE7;  /* rgb(215, 239, 231) */
  --t7-mystic: #DCEBEC;  /* rgb(220, 235, 236) */
  --t8-crushed-ice: #D2DCE8;  /* rgb(210, 220, 232) */
  --t9-periwinkle: #DCD3E7;  /* rgb(220, 211, 231) */
  --t10-powder-pink: #F7D0E6;  /* rgb(247, 208, 230) */
  --surface: #FFFFFF;  /* rgb(255, 255, 255) */
  --ink: #041E42;  /* rgb(4, 30, 66) */
}
